/* General */

body {
    width: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.page {
    height: 100%;
    padding-top: 20px;
    background-color: #93c8f2;
    
}

a {
    text-decoration: none;
}

.add-button {
    display: block;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #3b2995;
    outline: none;
    background-color: white;
    color: black;
}

.add-button:hover {
    background-color: #3b2995;
    color: white;
}

.add-button:active {
    background-color: #241959;
    color: white;
}

.display-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* Main input */ 

.main-headline {
    display: block;
    text-align: center;
    margin: 0;
    margin: 30px 0 50px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #e13535;
    
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;

}

.main-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input {
    display: block;
    box-sizing: border-box;
    padding: 10px 10px;
    flex: 1;
    margin-right: 20px;
    border: 2px solid #3b2995;
    border-radius: 10px;
}

/* Lists */

.lists-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

.ordinary-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list li {
    padding: 5px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.general-container {
    border: 2px solid #e13535;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px;
}

.headline {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.headline-ordinary {
    padding-bottom: 10px;
    border-bottom: 2px solid #e13535;
}

.clear-button {
    margin-bottom: 10px;
}

.button {
    padding: 5px 5px;
    box-sizing: border-box;
    background-color: #3b2995;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}

.button:hover {
    background-color: #e13535;
}

.button:active {
    background-color: #a32424;
}

.item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.done-item {
    text-decoration: line-through;
}

.task-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item-text {
    cursor: pointer;
}

.wrapper {
    margin-bottom: 10px;
}

.hold {
    border: 2px solid #e13535;
    border-radius: 10px;
}

.hovered {
    border: 2px solid #3b2995;
    border-radius: 20px;
}
  

